#bannerContainer {
    width: 120rem;
    overflow: hidden;
    margin: 0.2rem auto;
    
}
.billAni{
    width: 20rem;
    height: auto;
}

header h1{
    text-align: center;
}

.billederBanner{
    height: 23rem;
    width: 355rem;
    margin-bottom: 5rem;
}

.first{
            animation: bannermove 60s linear infinite;
}

@keyframes bannermove {
    0% {
       margin-left: 0rem;
    }
    100% {
       margin-left: -175rem;
    }
}
