.single-movie-title {
    font-size: 4em;
}

.single-movie-img {
    align-self: start;
    justify-self: start;
    width: 100%;
}
.single-movie-description {
    font-size: 1.5em;
    margin: 0.3em;
    padding: 0.3em;
    padding-block: 1em;
}
.order-ticket-btn {
    background-color: var(--clr-primary-400);
    width:60%;
    height:20%;
    padding:2em;
    text-align: center;
    border-radius: 1em;
    border:0;
    color:var(--clr-neutral-900);
    font-weight: bold;
    font-size: 1.2em;
}
.text-container {
    flex-direction: column;
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.single-movie-container {
    width:100%;
    display:grid;
    grid-template-columns: 35% 1fr;
}

@media(max-width: 426px) {
    .single-movie-container {
        grid-template-columns: 1fr;
    }
}