:root {
    --clr-primary-300: #a27b5c;
    --clr-primary-400: #a27b5c;
    --clr-primary-500: #a27b5c;

    --clr-neutral-100: #dcd7c9;
    --clr-neutral-200: #f8f9fa;
    --clr-neutral-800: #343a40;
    --clr-neutral-900: #181b1e;

    --clr-accent-200: #7d68d7;
    --clr-accent-300: #9588c9;
    --clr-accent-400: #413852;
    --clr-accent-500: #25202f;
}

/* #region Basic Resets */

*{
    padding:0;
    margin:0;
    font-family: calibri;
}

body, p, button{
    background-color: var(--clr-neutral-100);
    color: var(--clr-neutral-900);
}
a {
    text-decoration: none;
    color: var(--clr-neutral-900);
}

/* #endregion Basic Resets */


/* #region Utility Classes */

.hidden {
    display: none !important;;
}

/* #endregion Utility Classes */


/* #region Global Styles */

.nav-container{
    display:flex;
    font-size: 1.4em;
    background-color: var(--clr-primary-300);
}

.nav-item, .dark-btn {
    background-color: var(--clr-primary-300);
    border:0;
}
.dark-btn{
    margin:1em;
    order:1;
}
.dark-btn>img {
    justify-content: end;
}

.burger-menu {
    display:none !important;
}

.burger-menu-button {
    display:none;
}
#burgerImage {
    display:none;
    
}


.nav-item {
    display:flex;
    flex:1;
    height:4em;
    justify-content: center;
    align-items: center;
}
a.nav-item:hover {
    background-color: var(--clr-primary-400);
}
a.nav-item.active {
    background-color: var(--clr-primary-500);
}

section {
    display:grid;
    grid-template-columns: 1fr;
}

.movie-list>h1 {
    font-size: 5em;
    color: orangered;
}

h2 {
    justify-self: center;
    font-size: 1.5em;
    color: var(--clr-neutral-900);
    margin-block: 3em;
}

.movie-list {
    display:grid;
    grid-template-columns: repeat(auto-fit, 18em);
    margin:1em;
    align-content: start;
    justify-content: space-evenly;
    gap: 1em;
}

.movie-div {
    text-align: center;
    align-content: start;
    background-color: var(--clr-accent-300);
    border-radius: 10px;
    min-height: 25em;
    overflow-wrap:break-word;
    transition: all 0.3s ease;
}
/* .movie-link {
    padding:0.3em;
    padding-block: 0.1em;
} */
.movie-link>h4 {
    min-height: 3.5em;
    margin:0.3em;
    align-content: center;
}

.img-div {
    width: 80%;
    margin:auto;
    overflow: hidden;
}

.movie-div img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 10px;
    justify-content: start;
}

.genre-list {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0.08em;
    margin-bottom: 1em;
}
.genre-btn{
    background-color: var(--clr-accent-300);
    border-radius: 7px;
    border: var(--clr-neutral-900) solid 1px;
    padding: 0.2em;
}

.genre-btn:hover{
    background-color: var(--clr-neutral-100);
}

.filter-btn {
    margin:10px;
    padding: 5px 10px;
}

.filter-options {
    display:none;
    margin:10px;
}

p {
    justify-self: center;
    margin: 3em;
}

footer {
    background-color: var(--clr-accent-300);
}
.social-list a img {
    width: 2em;
    height: 2em;
    margin: 1em;
}

/* #endregion Global Styles */


/* #region Media Queries For Responsive Design */

@media only screen and (max-width: 426px){
    .movie-list{
        grid-template-columns: 1fr;
        gap: 4em;
        width:90%;
        justify-self: center;
    }
    .movie-link>h4{
        font-size: 2.5em;
    }
    .nav-container {
        display:flex;
    }
    a.nav-item {
        display:flex;
        position: fixed;
        height:fit-content;
        width:100%;
        flex-direction: row;
        z-index: 10000;
    }
    a[data="1"] {
        top:89px;
    }
    a[data="2"]{
        top: 117px;
    }
    a[data="3"]{
        top:145px;
    }
    a.mobile-hidden {
        display:none;
    }
    
    a.burger-active{
        display:flex !important;
        flex-direction: column;
    }
    .dark-btn {
        order:0;
    }
    .burger-menu {
        display: flex !important;
        cursor: pointer;
        z-index: 1000;
        transition: all 0.3s ease;
    }
    
    .burger-menu {
        display:flex;
        flex:1;
        width: 100%;
        align-items: center;
        justify-self: center;
        margin-right:1em;
        justify-content: end;
        background-color: var(--clr-primary-300);
    }
    
    .burger-menu-button{
        display:flex !important;
        width:5em;
        height:4em;
        justify-content: center;
        align-items: center;
        background-color: var(--clr-primary-300);
        border:0;
    }
    
    .burger-menu img {
        display: flex !important;
        position:relative;
        width: 3em;
        height: 2em;
        background-color: var(--clr-primary-300);
    }

}

/* #endregion Media Queries For Responsive Design */


/* #region Dark Styles */

.dark {
    --clr-primary-300: #cf8f41;
    --clr-primary-400: #af7012;
    --clr-primary-500: #ffa742;

    --clr-neutral-100: #000000;
    --clr-neutral-200: #f8f9fa;
    --clr-neutral-800: #343a40;
    --clr-neutral-900: #ffffff;

    --clr-accent-200: #938ab9;
    --clr-accent-300: #9588c9;
    --clr-accent-400: #413852;
    --clr-accent-500: #25202f;
}

/* #endregion Dark Styles */